<div class="right item">
  <form phx-change="user_selected">
    <select name="user" id="user_selected"class="ui search dropdown">
      <option value="">Transfer chat ownership</option>
      <%= for p <- filter_participant(@chat.participant, @current_user) do %>
        <option value="<%= [p.user.id, @chat.id, @current_user.id] %>">
          <%= p.user.name %>
        </option>
      <% end %>
    </select>
  </form>

</div>